.bacdrop {
  z-index: 3;
  position: fixed;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  opacity: 1;

  background: rgba(0, 0, 0, 0.5);
}
.bacdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
}

.bacdrop.bacdrop--is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.no-scroll {
  overflow: hidden;
}
.modal {
  position: absolute;
  overflow: auto;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: $primaryWhiteColor;
  box-shadow:
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: unset;
  @media screen and (max-width: $breakpointBeeforeTell) {
    width: 350px;
    height: 609px;
  }
  @media screen and (min-width: $breakpointTell) {
    width: 450px;
    height: 609px;
  }
  @media screen and (min-width: $breakpointBeeforeTablet) {
    width: 528px;
    height: 609px;
  }
  @media screen and (max-height: 608px) {
    height: 100vh;
    overflow: auto;
  }
  &__close-button {
    @include hoverBtn();
    @include focusBtn();
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    height: 30px;
    width: 30px;
    background: $primaryWhiteColor;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__title {
    margin-bottom: 12px;
    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    letter-spacing: 0.03em;
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  &__form-field:focus input {
    @include hoverForm();
    @include focusForm();
    outline: 1px solid blue($color: #000000);
  }
  &__wrapper {
    position: relative;
  }
  &__input-icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(80%, -50%);
    transition: fill 250ms linear;
  }
  &__input-label {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;

    color: $labelColor;
  }
  &__input {
    padding-left: 42px;
    padding-bottom: 12px;
    padding-top: 12px;
    height: 40px;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    &:focus {
      outline: 1px solid $primaryAccentColor;
    }
  }

  &__input:focus + &__input-icon,
  &__input:hover + &__input-icon {
    fill: $primaryAccentColor;
  }
  &__textarea-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-bottom: 20px;
  }

  &__textarea {
    // @include hoverForm();
    @include focusForm();
    padding: 12px 16px;
    width: 100%;
    height: 120px;
    cursor: pointer;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__textarea-label {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;

    color: $labelColor;
  }
  &__textarea-field ::placeholder {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 22);
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
  &__checkbox-field {
    align-items: center;
    margin-bottom: 30px;
    font-size: 12px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: $labelColor;
    @media screen and (max-width: $breakpointBeeforeTell) {
      font-size: 10px;
    }
    @media screen and (min-width: $breakpointTablet) {
      font-size: 14px;
    }
  }
  &__checkbox-link {
    color: $primaryAccentColor;
  }
  &__checkbox-label:focus &__checkbox-square,
  &__checkbox-label:hover &__checkbox-square {
    border-color: $primaryAccentColor;
  }
  &__checkbox-label {
    display: flex;
    align-items: center;
  }
  &__checkbox-input {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
  &__checkbox-field input:checked + &__checkbox-square {
    background-image: url(../../images/check.svg);
    width: 16px;
    height: 15px;
    background-size: contain;
    background-color: $primaryAccentColor;
    border-color: $primaryAccentColor;
    background-origin: border-box;
  }
  &__checkbox-square {
    display: block;
    margin-right: 8px;
    width: 16px;
    height: 15px;
    border: 1px solid #212121;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__button {
    @include hovershadow();
    @include focusshadow();
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 55px;
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    border: none;
    letter-spacing: 0.06em;

    cursor: pointer;
    background-color: $primaryAccentColor;
    color: $primaryWhiteColor;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

// /* чтобы иконка оставалась синей когда напечатали текст */
// /* .modal__form-field > input:not(:placeholder-shown) + .modal__input-icon {
//   fill: #2196f3;
// } */

/* Разрешить клацать
pointer-events: none; */

/* Выровнять
 position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */

/* 
  Защита от работяг
  user-select: none; */
