.social {
  display: flex;
  justify-content: center;
  align-items: center;

  &__item {
    @include marginRightNotLastCh(10px);
  }
  &__link {
    @include hoverSocial;
    @include focusSocial;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primaryWhiteColor;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: $thrdBgColor;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
